{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 7 Andrew Theodore</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lightTheme.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'jquery-3.4.1.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'customFunction.js' %}"></script>
</head>
<body>
    <button onClick="toggleCSS('{% static 'lightTheme.css' %}', 0)">Light Theme</button>
    <button onClick="toggleCSS('{% static 'darkTheme.css' %}', 0)">Dark Theme</button>
    <h1>Andrew Theodore's Profile</h1>
    <div id="accordion">
        <h3>Aktivitas</h3>
        <div>
            <ol>
                <li>Tidur</li>
                <li>Makan</li>
                <li>Bersyukur</li>
            </ol>
        </div>

        <h3>Organisasi / Kepanitiaan</h3>
        <div>
            <ol>
                <li>Kuksa</li>
                <li>Toki</li>
            </ol>
        </div>

        <h3>Prestasi</h3>
        <div>
            <ol>
                <li>Juara 2 Gemastik</li>
                <li>Peringkat 9 ICPC regional Kuala Lumpur</li>
            </ol>
        </div>
    </div>
</body>
</html>
